## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns=["EIN", "NAME"])

In [3]:
# Determine the number of unique values in each column.
print(app_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_df["APPLICATION_TYPE"].value_counts(dropna=False)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
app_df["CLASSIFICATION"].value_counts(dropna=False)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
app_df["CLASSIFICATION"].value_counts(dropna=False).loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [classification.strip() for classification, value in app_df["CLASSIFICATION"].value_counts(dropna=False).loc[lambda x: x > 0].items() if value < 1000]

# Create a dictionary mapping the classifications to be replaced with "Other"
replace_dict = {cls: "Other" for cls in classifications_to_replace}

# Replace in dataframe using the dictionary
app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(replace_dict)

# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Split our preprocessed data into our features and target arrays
y = app_df['IS_SUCCESSFUL']
X = app_df.drop(columns='IS_SUCCESSFUL')

In [10]:
X

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
X = pd.get_dummies(X)

In [36]:
X

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [37]:
print(X.nunique())

STATUS                             2
ASK_AMT                         8747
APPLICATION_TYPE_Other             2
APPLICATION_TYPE_T10               2
APPLICATION_TYPE_T19               2
APPLICATION_TYPE_T3                2
APPLICATION_TYPE_T4                2
APPLICATION_TYPE_T5                2
APPLICATION_TYPE_T6                2
APPLICATION_TYPE_T7                2
APPLICATION_TYPE_T8                2
AFFILIATION_CompanySponsored       2
AFFILIATION_Family/Parent          2
AFFILIATION_Independent            2
AFFILIATION_National               2
AFFILIATION_Other                  2
AFFILIATION_Regional               2
CLASSIFICATION_C1000               2
CLASSIFICATION_C1200               2
CLASSIFICATION_C2000               2
CLASSIFICATION_C2100               2
CLASSIFICATION_C3000               2
CLASSIFICATION_Other               2
USE_CASE_CommunityServ             2
USE_CASE_Heathcare                 2
USE_CASE_Other                     2
USE_CASE_Preservation              2
USE_CASE_ProductDev                2
ORGANIZATION_Association           2
ORGANIZATION_Co-operative          2
ORGANIZATION_Corporation           2
ORGANIZATION_Trust                 2
INCOME_AMT_0                       2
INCOME_AMT_1-9999                  2
INCOME_AMT_10000-24999             2
INCOME_AMT_100000-499999           2
INCOME_AMT_10M-50M                 2
INCOME_AMT_1M-5M                   2
INCOME_AMT_25000-99999             2
INCOME_AMT_50M+                    2
INCOME_AMT_5M-10M                  2
SPECIAL_CONSIDERATIONS_N           2
SPECIAL_CONSIDERATIONS_Y           2
dtype: int64

In [16]:
len(X.columns)

43

In [13]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [35]:
X_train_scaled

array([[ 0.01079982, -0.02957055, -0.08940766, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, ..., -0.07529085,
         0.02925687, -0.02925687],
       ...,
       [ 0.01079982, -0.02957055, -0.08940766, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, ..., -0.07529085,
         0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, ..., -0.07529085,
         0.02925687, -0.02925687]])

## Compile, Train and Evaluate the Model

In [93]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
 # Define the deep learning model 
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=129, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=129, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_52 (Dense)            (None, 129)               5676

 dense_53 (Dense)            (None, 129)               16770

 dense_54 (Dense)            (None, 1)                 130

=================================================================
Total params: 22,576
Trainable params: 22,576
Non-trainable params: 0
_________________________________________________________________

In [94]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [95]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.7274 - accuracy: 0.6992
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6712 - accuracy: 0.7147
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6391 - accuracy: 0.7185
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6289 - accuracy: 0.7208
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6098 - accuracy: 0.7229
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5970 - accuracy: 0.7283
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5901 - accuracy: 0.7260
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5823 - accuracy: 0.7276
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5835 - accuracy: 0.7275
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5897 - accuracy: 0.7255
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6283 - accuracy: 0.7156
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.7264
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6138 - accuracy: 0.7178
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6004 - accuracy: 0.7222
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5901 - accuracy: 0.7266
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5878 - accuracy: 0.7272
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5891 - accuracy: 0.7237
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5865 - accuracy: 0.7264
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5860 - accuracy: 0.7311
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5893 - accuracy: 0.7264
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5765 - accuracy: 0.7324
Epoch 22/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5687 - accuracy: 0.7312
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7323
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5717 - accuracy: 0.7315
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5679 - accuracy: 0.7327
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5737 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5621 - accuracy: 0.7339
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5671 - accuracy: 0.7317
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5698 - accuracy: 0.7304
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5699 - accuracy: 0.7332
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - accuracy: 0.7350
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5660 - accuracy: 0.7330
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5686 - accuracy: 0.7353
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7336
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7342
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5590 - accuracy: 0.7335
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7339
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5662 - accuracy: 0.7342
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5660 - accuracy: 0.7352
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7348
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5625 - accuracy: 0.7350
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7359
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7355
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7369
Epoch 45/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5497 - accuracy: 0.7361
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7378
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7372
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7376
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7369
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7371

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5565 - accuracy: 0.7292 - 538ms/epoch - 2ms/step
Loss: 0.5564563870429993, Accuracy: 0.7292128205299377

In [34]:
# Export our model to HDF5 file
nn_model.save('model.h5')